<ion-header>
  <ion-toolbar>
    <ion-title>
      The Coffee Shop
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">


    <ion-card>
      <ion-item-divider>
        <ion-text>The Menu</ion-text>

      </ion-item-divider>
        <ion-item>
          <ion-button (click)="addDrink('Cafe Au Lait', 4)">
            Cafe Au Lait - 4s
          </ion-button>
          <ion-button (click)="addDrink('Cappuccino', 10)">
            Cappuccino - 10s
          </ion-button>
          <ion-button (click)="addDrink('Expresso', 15)">
            Expresso - 15s
          </ion-button>
        </ion-item>

        <ion-item-divider>
          <ion-label>
            The Coffee Counter
          </ion-label>
        </ion-item-divider>
        <ion-item>
          {{(counterDrink | async)?.name || "Empty"}}
        </ion-item>

        <ion-item-divider>
          <ion-label>
            Barista now preparing
          </ion-label>
        </ion-item-divider>
        <ion-item *ngIf = "(drinkQueue | async).length  > 0">
          {{ (counterDrink | async)? "Barista is waiting" : (drinkQueue | async)[0].name}}
        </ion-item>
        <ion-item *ngIf = "(drinkQueue | async).length  == 0">
          Nothing at the moment - order something!
        </ion-item>

      <ion-item-divider>
        <ion-label>Next Orders</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let drink of drinkQueue | async | slice: 1"> {{drink.name}} -  {{drink.time}} seconds</ion-item>
      <ion-item *ngIf="(drinkQueue | async).length < 2">
        Nothing queued up.
      </ion-item>
    </ion-card>
  </div>
</ion-content>